form.signup,
form.login {
  margin-top: 45px;
}
#header-img {
  width: 100%;
  height: 100%;
  background-image: url("../assets/img-header.png");
  background-size: cover;
  margin-right: -50px;
  z-index: 25;
  position: relative;
}

input {
  margin-left: 0px;
  margin-top: 0px;
  position: relative;
  top: 50%;
  padding: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 0px 8px #7BC1F7;
  -moz-box-shadow: 0px 0px 8px #7BC1F7;
  -webkit-box-shadow: 0px 0px 8px #7BC1F7;
}


input:focus { 
  outline: none;
  border: 1px solid #7BC1F7;
  box-shadow: 0px 0px 8px #7BC1F7;
  -moz-box-shadow: 0px 0px 8px #7BC1F7;
  -webkit-box-shadow: 0px 0px 8px #7BC1F7;
}
.video {
  object-fit: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}
#vid2 {
  object-fit: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}
.logo {
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  max-width: 25%;
  margin-bottom: 25px;
  }
#dataform {
  margin: 0 auto;
  float: none;
  margin-top: 25%;
  margin-bottom: 10px;
  height: 50%;
  width: 50%;
  padding: 10px;
  z-index: 50;
  background-color: white;
  opacity: 0.9;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 0px 8px #7BC1F7;
  -moz-box-shadow: 0px 0px 8px #7BC1F7;
  -webkit-box-shadow: 0px 0px 8px #7BC1F7;
  }
  .image {
    border: 2px solid #7BC1F7;
  }
  #logout {
    top: 70%;
  }
  #post_images{
    z-index: 40;
  }
  .column {
    z-index: 50;
  }
  .carousel {
    z-index: 5;
    position: relative;
  }
  #userfield {
    z-index: 100;
    background-color: white;
    opacity: .7;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #7BC1F7;
    -moz-box-shadow: 0px 0px 8px #7BC1F7;
    -webkit-box-shadow: 0px 0px 8px #7BC1F7;
  }
  
 .modal-content {
  background-color:lightgrey;
  margin: auto; 
  padding: 20px;
  text-align: center;
  width: 60%; 
  z-index: 200; 
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 0px 8px #7BC1F7;
  -moz-box-shadow: 0px 0px 8px #7BC1F7;
  -webkit-box-shadow: 0px 0px 8px #7BC1F7;
}
.modal {
  z-index: 200; 
  left: 30%;
  top: 32%;
  width: 40%; 
  height: 50%; 
}

#gameInfo{
  z-index: 200; 
  left: 20%;
  top: 25%;
  width: 60%; 
  height: 60%;
  overflow: auto; 
}

#close, #closeRec{
  text-align: center;
  width: 12%;
  left:45%;
  position: relative;
}
#close:hover,
#close:focus {
color: black;
cursor: pointer;
}
.dropdown-item {
cursor: pointer;
z-index: 250;
}
#dropdown-menu {
  z-index: 250;
  }

.section {
  width: 100%;
  height: 100%;
  background-image: url("../assets/1^bg2.png");
  display: block;
  background-size: cover;
  margin-right: -50px;
  z-index: 2;
}

.authors {
  /* width: 100%; */
  /* height: 100%; */
  background-image: url("../assets/img-background2.png");
}

#row-background {
  /* width: 100%; */
  /* height: 100%; */
  background-image: url("../assets/img-userfield.png");
}

.footer {
  background-color: rgb(48, 42, 42);
}