form.signup,
form.login {
  margin-top: 50px;
}
#header-img {
  width: 100%;
  height: 180px;
  background: url("../assets/img-header.png");
  background-size: cover;
  margin-right: -20px;
}
input {
  margin-left: 0px;
  margin-top: 0px;
  position: relative;
  top: 50%;
  padding: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 0px 8px #7BC1F7;
  -moz-box-shadow: 0px 0px 8px #7BC1F7;
  -webkit-box-shadow: 0px 0px 8px #7BC1F7;
}
input:focus { 
  outline: none;
  border: 1px solid #7BC1F7;
  box-shadow: 0px 0px 8px #7BC1F7;
  -moz-box-shadow: 0px 0px 8px #7BC1F7;
  -webkit-box-shadow: 0px 0px 8px #7BC1F7;
}
.video {
  object-fit: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}
.img {
  float: left;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  }
#dataform {
  margin: 0 auto;
  float: none;
  margin-top: 25%;
  margin-bottom: 10px;
  height: 50%;
  width: 50%;
  padding: 10px;
  z-index: 5;
  background-color: white;
  opacity: .7;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 0px 8px #7BC1F7;
  -moz-box-shadow: 0px 0px 8px #7BC1F7;
  -webkit-box-shadow: 0px 0px 8px #7BC1F7;
  }
  .image {
    border: 2px solid #7BC1F7;
  }
  #logout {
    top: 70%;
  }
  #post_images{
    z-index: 50;
  }
  .column {
    z-index: 50;
  }
  #carousel {
    z-index: 100;
  }
  #userfield {
    z-index: 100;
    background-color: white;
    opacity: .7;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #7BC1F7;
    -moz-box-shadow: 0px 0px 8px #7BC1F7;
    -webkit-box-shadow: 0px 0px 8px #7BC1F7;
  }